<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Elliot Erwin" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <link rel="stylesheet" href="https://use.typekit.net/zkv5kvu.css">
  </head>

  <body class="<%= page_classes %>">

    <nav class="navbar is-dark is-fixed-top is-hidden-tablet" role="navigation" aria-label="main navigation">
      <div class="container">

        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/images/logo.png" />
          </a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu has-background-dark">
          <div class="navbar-start">
            <a class="navbar-item navbar-hello" href="/hello.html">Hello</a>
          </div>

          <div class="navbar-end">
            <a class="navbar-item navbar-index" href="/index.html">Projects</a>
            <a class="navbar-item navbar-posters" href="/posters.html">Posters</a>
            <a class="navbar-item navbar-logos" href="/logos.html">Logos</a>
          </div>
        </div>

      </div>
    </nav>

    <nav class="navbar-desktop is-hidden-mobile">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="navbar-desktop-left">
              <a class="navbar-hello" href="/hello.html">Hello</a>
            </div>
          </div>

          <div class="column has-text-centered">
            <img src="/images/logo.png" id="desktop-logo" />
          </div>

          <div class="column">
            <div class="navbar-desktop-right">
              <a class="navbar-index" href="/index.html">Projects</a>
              <a class="navbar-posters" href="/posters.html">Posters</a>
              <a class="navbar-logos" href="/logos.html">Logos</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <%= yield %>

    <a class="back-to-top" id="back-to-top">
      <%= image_tag 'back-to-top.png' %>
      <br>
      Back to Top
    </a>

    <div class="copyright">
      &copy; ELLIOT ERWIN 2024
    </div>

    <% if development? %>
      <%= partial "layouts/development" %>
    <% end %>

  </body>
</html>

